<div class="modal fade {{ modalClass }}" id="coreModal-{{ modalId }}" tabindex="-1" role="dialog"
     aria-labelledby="coreModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="coreModalLabel"> {{ modalTitle }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ modalContent | raw }}
            </div>
            {% set no_actions = modalActionType == 'none' %}
            {% if not no_actions %}
                <div class="modal-footer">
                    {% if modalActionType == 'save' or modalActionType == 'save_and_close' %}
                        <button type="button" class="btn btn-primary mx-3"
                                data-dismiss="modal">{{ translate('save') }}</button>
                    {% endif %}
                    {% if modalActionType == 'close' or modalActionType == 'save_and_close' %}
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">{{ translate('close') }}</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>