{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog_edit_form') }}
{% endblock %}


{% block content %}
    <div class="categories container content-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {# добавьте здесь остальные поля формы, если они есть #}
        <button type="submit">Отправить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
